<html>
   <body>
      <form action = "{{ url_for('delete') }}" method = "POST">
         <h3>Delete by name</h3>
         Enter Name<br>
         <input type = "text" name = "nm" /><br>
         <input type = "submit" value = "submit" /><br>
      </form>
   </body>
</html>
